@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #68A4C4; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}




*{
  font-family: 'Prompt', sans-serif;
}

.card {
  opacity: 1;
  transition:.3s ease-in-out;
  box-shadow: 0 0 10px #ccc;
}

.card:hover {
  opacity: .8;
  transform:scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 10px #68A4C4;
}
#header {
  height:200px;
  background-image: url('./images/BannerLMS.png');
  background-repeat: no-repeat;
  background-attachment: cover;
  background-position: center;
}

@media screen and (max-width: 720px) {
  .card {
    padding:2rem !important;
  }
  #header {
    height:350px;
    background-image: url('./images/LMS.png');
    background-repeat: no-repeat;
    background-attachment: cover;
  }
  #header>img{
    background-attachment: cover;

  }
  .carousel-item  {
    width:100vw !important;
    /* padding:50px; */
    object-fit: cover !important;
    object-position: center !important;
    overflow-x: auto !important;
  }
  
  .carousel-item  {
    /* /* height:100vh; */
    /* height:350px !important; */
    width:100vw !important;
    
  }
  .carousel-item img{
    /* height:350px; */
    max-width:100vw;
    object-fit: cover;
    object-position: center;
  }
}

/* #carouselExampleIndicators .carousel-item img {
  object-fit: cover;
  object-position: center;
  overflow: hidden; 
  height: 45vh;
} */

/* .carousel-item {
  height: 50vh;
  min-height: 350px;
  object-fit: cover;
  object-position: center;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.carousel-item img {
  width:100%;
}

a {
  color:#fff;
  text-decoration: none;
}

a:hover {
  color:000;

}

#carouselExampleIndicators .carousel-item:before {
  content:"";
  background-image: 
    linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5)
    );
    /* display: block; */
    /* position:absolute; */
    top:0;
    width:100vw;
    height: 100vh;
<<<<<<< HEAD
}
=======
}



>>>>>>> b0d950363d3be052fb42b96ceab817a4f1e6f02d
